<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AppConfiguration" type="LogMonitor.AppConfiguration,NLogMonitor"/>
    <section name="SmtpConfiguration" type="LogMonitor.SmtpConfiguration,NLogMonitor"/>
    <section name="MailConfiguration" type="LogMonitor.AppConfiguration,NLogMonitor"/>
  </configSections> 
  <AppConfiguration Directory="..\\..\\logs"/>

  <SmtpConfiguration Host="smtp.gmail.com" Port="587" User="shrs.envio.email@gmail.com" Pass="isotroleando"/>
  <MailConfiguration From="shrs.envio.email@gmail.com" To="shrs.envio.email@gmail.com;shrs.envio.email@gmail.com"/> 
</configuration>
