<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AppConfiguration" type="LogMonitor.AppConfiguration,NLogMonitor"/>
    <section name="SmtpConfiguration" type="LogMonitor.SmtpConfiguration,NLogMonitor"/>
    <section name="MailConfiguration" type="LogMonitor.MailConfiguration,NLogMonitor"/>
  </configSections> 
  <AppConfiguration Directory="C:\\Juan\\PruebaC#\\logs"/>

  <SmtpConfiguration Host="smtp.isotrol.com" 
                     Port="25" 
                     EnableSsl="false"
                     User="" 
                     Pass=""/>
  
  <MailConfiguration From="jfernandez@isotrol.com" 
                     To="jalexposito@isotrol.com" /> 
</configuration>
