<configuration>
  <configSections>
    <section name="AppConfiguration" type="LogMonitor.AppConfiguration,NLogMonitor"/>
    <section name="SmtpConfiguration" type="LogMonitor.SmtpConfiguration,NLogMonitor"/>
    <section name="MailConfiguration" type="LogMonitor.MailConfiguration,NLogMonitor"/>
  </configSections>
  <AppConfiguration Directory="C:\\CER_102\\logs"
                    FilePattern="*.log"
                    TextPattern=".*LM_ERROR.*|.*LM_WARNING.*"/>

  <SmtpConfiguration Host=""
                     Port=""
                     EnableSsl=""
				 	           User=""
                     Pass=""
                     TimeBetweenSend="10"/>

  <MailConfiguration From=""
                     To=""
					           CC=""                     
                     Subject="" 
                     AddFileName=""/>
</configuration>